<div class="jumbotron explains">
  <h3 class="display-4">ようこそ！このサイトの使い方を説明します！</h3>
  <p class="lead">私のGoogle先生はGoogle検索であなたがおすすめの検索ワードを投稿、共有するサイトです。</p>
  <p class="lead">このサイトで見つけた新しい検索ワードでぜひぜひ世界を広げちゃって下さい！！！</p>
  <p class="lead">検索ワード欄におすすめ検索ワード、一言コメント欄におすすめ理由、応用例等を記入して投稿して下さい！</p>

  <hr class="my-4">
  <p>ログインで利用できる機能</p>
  <ol>
    <li>投稿できるようになる</li>
    <li>他の気になるユーザをフォローできるようになる</li>
    <li>ユーザの投稿をお気に入り登録できるようになる</li>
  </ol>
  <%= link_to '初めての方はこちら', signup_path, class: 'btn btn-primary btn-lg' %>
  <%= link_to 'ログインはこちら', login_path, class: 'btn btn-success btn-lg' %>
</div>



