<% if logged_in? %>

  <p>ログインユーザ:
<%= current_user.name %>
  </p>
<% else %>

<div class="center jumbotron">
  <div class="text-center">
    <h1>My Google Teacher</h1>
    
<%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
<% end %>