body {
  padding: 0;
  margin: 0;
}



/* forms */

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}



.timeline h3 {
  background-color: lightgreen;
}


.jumbotron h1 {
  font-weight: bold;
  font-size: 70px;
  color: #FFBBFF;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.earth {
  background-image: url(024.jpg);
  background-size: cover;
  margin-bottom: 0;
}

.timeline h3 {
  margin-bottom: 0;
}

.kensaku {
  margin-right: 30px;
}

.comment {
  margin-right: 14px;
}

.explains {
  font-weight: bold;
}

.lead {
  font-weight: bold;
}

.col-sm-8 .text-center {
  margin-top: 10px;
}
  
.nav-link {
  padding-bottom: 20px;
}